<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<style> 
    .caixas{
        display: flex;
        justify-content: space-around;
    }
    .demo{
        width: 100px;
        height: 100px;
        background-color: gray;

    }
    .c1{
        background-color: red;
    }
    .c2{
        background-color: green;
    }
    .c3{
        background-color: blue;
    }
    .girar{
        transform: rotate(45deg);
    }

</style>
<div id="app">
    
    <div class="caixas">
        <div class="demo" :style="{ 'background-color': cor }"></div>
        <!-- ou -->
        <div class="demo" :style="{ backgroundColor: cor }"></div>
        <!-- Usando a propriedade computada -->
        <div class="demo" :style='meuEstilo'></div>
        <!-- Outra opção -->
        <div class="demo" :style='[meuEstilo, {height: altura}]'></div>


    </div>
    <hr>

    <input type="text" v-model="cor">
    <input type="text" v-model="largura">

    


</div>

<script>
    new Vue({
        el: '#app',
        data:{
           cor: 'red',
           largura: 10,
           altura: 20
        },
        methods: {
            
        },
        computed: {
            meuEstilo(){
                return{
                    backgroundColor: this.cor,
                    width: this.largura + 'px'
                }
            }
        },
        watch: {
           
        },
    })
</script>